body {
    margin: 0;
    /* defaultt font size: font-size: 16px;*/
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/*typography*/

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: white;
}

h1 span {
    color: #4ADF86;
}

h2, #length-text {
    margin: 0;
    color: #D5D4D8;
}

h2 {
    font-size: 1.25rem;
    font-weight: normal;
}

#length-text {
    font-size: 1rem;
}

.button-text {
    font-size: 1rem;
    color: white;
}

.textfield-text {
    font-size: 1rem;
    color: #4ADF86;
}

#copied-message {
    font-size: 1rem;
    color:#4ADF86;
}

footer, footer a {
    font-size: 0.9rem;
    color:#D5D4D8;

}

/*container*/
#container {
    margin: 0 auto;
    border: 1px solid red;
    width: 80%; /*will grow to be 80% of the window*/
    max-width: 550px; /*setting it so that the main container won't ever grow larger than 550px*/
}

#card {
    border: 1px solid purple;
}

#section-one {
    border: 1px solid purple;
}

#section-two {
    border: 1px solid purple;
}

#footer-container {
    border: 1px solid blue;
}
