body {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/*typography*/

h1 {
    color: white;
}

h1 span {
    color: #4ADF86;
}

h2, #length-text {
    color: #D5D4D8;
}

.button-text {
    color: white;
}

.textfield-text {
    color: #4ADF86;
}

#copied-message {
    color:#4ADF86;
}

footer, footer a {
    color:#D5D4D8;

}